#app {
	padding-top: 20px;
	overflow: hidden;
	height: 100%;
	width: 100%;

}
#workspace {
	min-height: 100%;
	height: 100%;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0;
	display: inline-block;
}
#msgwrap {
	height: 100%;
	overflow-y: auto;
	padding: 20px 0 0px 0;
}
#msgwin {
	position: relative;
	height: 100%;
	overflow-y: auto;
	padding: 20px 15px 60px 15px;
}
.input {
	background-color: #ffffff;
	bottom: 0;
	position: fixed;
	padding: 10px;
}